* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #a4a4a4;
}

h1 {
	padding-top: 15px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
}

div.pool {
		position: absolute;
		width: 100%;
}
div.sensor {
	font-size: 120%;
	width: 31.3%;

	border: 1px solid white;
	margin: 1%;
}

.sensor_title {
	font-size: 160%;
	text-align: center;
	padding-bottom: 70px;
	color: white;
}

.sensor_value {
	text-align: center;
	padding-bottom: 10px;
	color: white;
}

.Botao {
	height: 40px;
	width: 50px;
	margin: auto;
	display: block;
}

#botao_all{
	width: 100px;
	position: relative;
	top: 250px;
}

#sensor1 {
	position: relative;
	float: left;
}

#sensor2 {
	position: relative;
	float: left;
}

#sensor3 {
	position: relative;
	float: left;
	clear: right;
}

